<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/cool-workspace/NiluTestProject/src/test/java">
    <classes>
    <class name="Login.LandingPageTest"><methods><include name="setUp"/></methods></class>
        <class name="Login.MotorsPageTest"><methods><include name="setUp"/></methods></class>
    </classes>
    </test>
    <listeners>
        <listener class-name="Listeners.CustomisedListener" />
    </listeners>

</suite>